<footer id='footer'>
    <div class="content">
        Centro Acadêmico Bernardo Sayão -
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA
        <span id="copyleft">
            <script>document.getElementById('copyleft').appendChild(document.createTextNode(new Date().getFullYear()))</script>
        </span></a>
        / design por <a href="https://rafaelgoncalves.gitlab.io">Rafael</a>
    </div>
</footer>
