<nav id="menu" class="main-nav"><ul class="menu">
{% for title, link in MENUITEMS %}
    <li {% if p == page %} class="active"{% endif %}><a href="{{ link }}">{{ title }}</a></li>
{% endfor %}
{% if DISPLAY_PAGES_ON_MENU %}
  {% for p in PAGES %}
    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
  {% endfor %}
{% else %}
  {% if DISPLAY_CATEGORIES_ON_MENU %}
    {% for cat, null in categories %}
      <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
    {% endfor %}
  {% endif %}
{% endif %}
