{% if DEFAULT_PAGINATION %}
<section class="paginator">
    {% if articles_page.has_previous() %}
    <a href="{{ SITEURL }}/{{ articles_previous_page.url }}"><div class="pag-button"><span>&laquo;</span></div></a>
    {% endif %}
    <div class="indicator">
    <h3>
        <span>
    {{ articles_page.number }} / {{ articles_paginator.num_pages }}
    </h3>
        </span>
    </div>
    {% if articles_page.has_next() %}
    <a href="{{ SITEURL }}/{{ articles_next_page.url }}"><div class="pag-button"><span>&raquo;</span></div></a>
    {% endif %}
</section>
{% endif %}
